[Unit]
Description=G&B email-orchestration-refresh timer

[Timer]
OnCalendar=Mon..Fri 06:50:00
Persistent=true
Unit=email-orchestration-refresh.service

[Install]
WantedBy=timers.target
